/* You can add global styles to this file, and also import other style files */

html, body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url("assets/background.png");
  max-height: 100%;
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;}
.navbar-nav {
    flex-direction: row;
}  
